<style>
  .grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 10px;
  }

  .grid-item {
    border: 2px solid #ccc;
    padding: 10px;
    /* grid-ga[]: 20px; */
    background-color: #f9f9f9;
  }
  
</style>

<div
  class="grid-container"
  [style.gridTemplateColumns]="'repeat(' + gridConfig.columns + ', 1fr)'"
  [style.gridTemplateRows]="'repeat(' + gridConfig.rows + ', 1fr)'"
>
  <ng-container *ngFor="let mfe of mfesJson">
    <div
      class="grid-item"
      [style.gridRow]="mfe.position.row + '/' + mfe.size.rowSpan"
      [style.gridColumn]="mfe.position.column + '/' + mfe.size.colSpan"
    >
      <!-- <div #mfeContainer></div> -->
       <div #mfeContainer></div>
    </div>
  </ng-container> 
</div>

